/* Gallery.css */
#container {
    scroll-snap-type: both mandatory;
    width: 40%;
    margin: 30px auto;
    white-space: nowrap;
    aspect-ratio: 1/1;
    overflow-x: scroll;
    overflow-y: scroll;
    border: solid black 2px;
    /* Scrollbar styles for webkit-based browsers */
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
    }

#container::-webkit-scrollbar {
    width: 4px;
    }

#container::-webkit-scrollbar-track {
    background: lightgray;
    }

#container::-webkit-scrollbar-thumb {
    background-color: darkgray;
    }
  
  .green { background-color: lightgreen; }
  .pink { background-color: lightpink; }
  .blue { background-color: lightblue; }
  .yellow { background-color: yellow; }
  .grey { background-color: lightgray; }
  
  #container > div {
    display: inline-block;
    height: 40%;
    border-radius: 10%;
    aspect-ratio: 1/1;
    margin: 5px;
    scroll-snap-align: center;
  }
  
  #container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }
  